<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="bg">
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
    </nav>
    <%= yield %>
  </body>
  <style>
  body {
    background-image:url('http://i.dailymail.co.uk/i/pix/2018/02/02/18/48D3379500000578-5345305-image-a-16_1517595669475.jpg')
  }
  </style>

  </html>
